html, body {
    margin:0;
    width:100%;
    height:100%;
    position:relative;

    background-color: rgb(243, 243, 243) !important;
}

.martop {
    margin-top: 5px;
}

.marleft {
    margin-left: 5px;
}

button {

    background-color: aquamarine !important;
}

.App {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 4;
    background: white;
    border-radius: 10px;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: rgba(40, 255, 183, 0.897) !important;
}

#fakeBody {

    width: 100%; 
    height: 100%;
}

#header {

    width: 100%;
    height: 50px;
    background-color: rgb(44, 43, 43);
    display: flex;
    justify-content: center;
    z-index: 10;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
}

#searchBox {

    height: 60%;
    margin: auto 0;
    display: flex;
}

.shown {
  
  opacity: 1 !important;
  visibility: visible !important;
}


#searchInput {

    width: 300px;
    color: gray;
}
#searchButton {

    width: 80px;
    margin-left: 10px;
    color:black;

    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

.searchType {
    margin-left: 14px; 
    color:gray;
}

.searchResult {

    display: flex;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
    border-radius: 5px;
}

.searchResult:hover {

    background-color: rgb(245, 245, 245);
}

#showResult {

    margin-left: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}



#svgCart {
    margin: auto 0;
    margin-left: 34%;
    margin-right: 1%;
    cursor: pointer;
}

#cart {

    width: 80%;
    height: 80%;
}

#cartElements {

    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    overflow-x: hidden;
}
#buyButton {

    width: min-content;
    padding: 10px 20px 10px 20px;
    height: 6%;
    margin-top:3%;
    margin-right:10%;
}

.elementCart {

    border: 1px rgb(224, 224, 224) solid;
    width: 100%;
    height: min-content;
    border-radius: 10px;
    margin-top: 10px;
}
.elementText {

    min-height: 50px;
}
.brandBtn {

    background-color: white !important;
    color: black !important;
    width: min-content !important;
    border-radius: 6px;
    height: min-content;
    border: 1px #d7d7d7 solid !important;
}
.brandBtn:hover {
    background-color:rgb(250, 250, 250) !important;
}
#addToCartBtn {

    margin-top:4%;
    padding: 2px 13px 5px 13px;
    width: max-content;
}
#fullImage {

    width: 80%;
    margin: 3%;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}
#fullImage:hover {

    transform: scale(1.05);
}

.divMain {

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cartImg {

    width: 10%;
    margin: auto 0;
    border-radius: 4px;
}

.cartMain {
    border: none;
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 86%;
}

.cartDescription {
    margin: auto 0;
}


#svgUser {

    color: white;
    margin: auto 0;
    cursor: pointer;
    display: inherit;
}

#userName {

    color:white; 
    margin: auto 0;
}

#userProfile, #cartAlert, #searchResult {

    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    background-color: white;
    color:black;
    margin-top: 50px;
    padding-top: 5px;


    opacity: 0;
    visibility: hidden;
}


.transition {

    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.userBtn {
    width: 100%;
    height: 50%;
    padding:10px;
    border-radius: 6px;
    transition: all 0.2s;
    margin-top: 5px;
}
#exit:hover, #adminPanel:hover {
    background-color: rgb(245, 245, 245);
}
#logOut:hover {
    background-color: rgb(255, 125, 125);
}

#adminApp {

    width: 80%;
    height: 80%;
    background-color: rgb(255, 125, 125);
}
.adminCategory {

    width: 90%;
    height: 36px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    border: 1px rgb(236, 236, 236) solid;
    cursor: pointer;
}
.adminCategory:hover {

    background-color: rgb(240, 240, 240);
}
.panelDiv {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selectedDiv {

    background-color: rgb(240, 240, 240);
}


#background {

    display: flex;
    width: 90%;
    height: 80%;
}

#formDiv {

    width: 44%;
    height: 44%;
}

#categoryBox {

    height: max-content;
    padding-bottom: 15px;
    margin-right: 1%;
    min-width: 220px;
    max-width: 250px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    background-color: white;
    margin-top: 83px;
}
.category {

    width: 90%;
    height: 36px;
    margin: 0 auto;
    margin-top: 14px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 6px;
    cursor: pointer;

    /* box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    padding: 2%;
    background-color: white;
}
.category:hover {

    background-color: rgb(250, 248, 248);
}

.categoryChoosen {

    background-color: rgb(250, 248, 248);
}

#hiddenDiv {

    position: absolute;
    width: 80%;
    height: 80%;
    background: red;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;

    transition: all 2s;
}

#refreshButton {

    height: 30px;
    width: 60px;
    margin-top: -4px;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-padding-y: 0 !important;
}

#loginButton, #regButton {

    height: 30%;
    width: 15%;
    margin-top: -4px;
    margin-left: 30px;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-padding-y: 0 !important;
}

#elementsShop {

    width:80%;
    height: 100%;

    min-width: 710px;

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elementsImages {

    border-radius: 6px;
    max-width: 80%;
    margin: 0 auto;
}

.elementsStyle {
    display: grid; text-align: center;
    height: min-content;
    width: min-content;
    min-width: 250px;
    min-height: 250px;
}

.elementsStyle span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements {

    margin: 5px;
    padding: 10px;

    min-width: 250px;
    min-height: 250px;

    max-height: 380px;
    max-width: 440px;

    display: flex;
    justify-items: center;

    border: 1px solid rgb(235, 235, 235);


    border-radius: 10px;
    background-color: white;
    transition: all 0.5s;
}
.elements:hover {

    transform: scale(1.1);
    z-index: 2;
}

.elementsBuy {

    background-color: rgba(127, 255, 212, 0.897) !important; 
    width: 25%;
    height: 30px;
    margin: auto 0;
    margin-left: 14px;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-padding-y: 0 !important;
}
.plus {

    width: min-content;
    padding: 0 6px 4px 6px !important;
    font-size: 150% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}


#elementApp {

    position: absolute;
}


#page {

    display: flex;
}

.changePage {

    background-color: white;
    width: 20px;
    text-align: center;
    border: 1px rgb(197, 197, 197) solid;
    border-radius: 4px;
    cursor: pointer;
}

#currentPage {
    background-color: white;
    width: min-content;
    padding: 0 5px 0 5px;
    text-align: center;
    border: 1px rgb(197, 197, 197) solid;
    border-radius: 4px;
    margin: 0 3px 0 3px;
}

#howManyShow {

    display: inline;
    padding: 1%;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 18px;
}

#showSortBy {

    margin-right: 10px;
    color: blue;
    cursor: pointer;
}

#sortBy {
    
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;

    position: absolute;

    background-color: white;
    z-index: 3;

    opacity: 0;
    visibility: hidden;
}

.sortBy {

    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    
    padding-bottom: 8px;
    margin-top: 4px;
    text-align: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
}

.sortBy:hover {

    background-color: rgb(250, 248, 248);
}


.noSelection {

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.categorySelected, .sortSelected  {

    background-color: rgb(240, 248, 248) !important;
}






